
table {
  display: table;
  border-collapse: collapse;
  border-color: grey !important;
}

.table {
  background: white;
  margin: 0 auto;
  margin-bottom: 50px;
}

.profile {
  width: 80%;
}

.icon {
  cursor: pointer;
  width: 18px;
  margin-right: 5px;
}

.pay-button {
  cursor: pointer;
  color: #009cfc;
}

