
.profile-header {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-style: italic; */
}


table {
  display: table;
  border-collapse: collapse;
  border-color: grey !important;
}

.table {
  background: white;
  margin: 0 auto;
  margin-bottom: 50px;
}

.profile {
  width: 80%;
}

.icon {
  cursor: pointer;
  width: 18px;
  margin-right: 5px;
}

.pay-button {
  cursor: pointer;
}

.actions-button, .actions-button a {
  color: #009cfc;
}

