
.profile-header {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-style: italic; */
}

.profile {
  margin-bottom: 50px;
  width: 80%;
}

.settings-form form {
  padding: 30px;
}


table {
  display: table;
  border-collapse: collapse;
  border-color: grey !important;
}

.table {
  background: white;
  margin: 0 auto;
  margin-bottom: 50px;
}

.icon {
  cursor: pointer;
  width: 18px;
  margin-right: 5px;
}

.pay-button {
  cursor: pointer;
}

.actions-button, .actions-button a {
  color: #009cfc;
}

.disabled-input {
  cursor: not-allowed;
}

.edit-details, .change-password {
  width: 150px;
  margin-top: 32px;
  padding: 2px;
  color: rgb(5, 211, 39);
  cursor: pointer;
  border: 1px solid rgb(5, 211, 39);
  border-radius: 4px;
}


@media (max-width: 760px) {
  .edit-details, .change-password {
    margin-top: 0px;
  }

  .profile {
    width: 100%;
  }
}

.hide {
  border: none;
}