*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: url("/img/zachary-nelson-192289.jpg");
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  /* background: url("/img/danes.jpg"); */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.error-page {
  width: 60%;
  margin: 0 auto;
}

.root {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  /* background-color: #fff; */
}

.main-content {
  flex: 1;
  position: relative;
  width: 100%;
  margin: 132px auto 0 auto;
  bottom: 45px;
}

.passport, .visa {
  width: 90%;
}

@media (max-width: 760px) {
  .passport, .visa {
    width: 100%;
  }
}

.header-img {
  width: 50px;
}

.user-profile {
  margin: 0 90px 0 auto;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.table {
  border: 1px solid rgba(0, 0, 0, .125) !important;
  box-shadow: 7px 7px 7px #44424246 !important;
  border-radius: .25rem !important;
  background-clip: border-box !important;
}

.avatar {
  width: 40px;
}

.navbar-brand {
  margin-right: 50px; 
}

.header {
  width: 100%;
  background-color: #fff;
  /* border-bottom: 1px solid #dbe2e8; */
  border: 1px solid rgba(0, 0, 0, .125) !important;
  box-shadow: 7px 7px 7px #44424246 !important;
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
  position: fixed;
  z-index: 100;
  /* box-shadow: 2px 3px 7px 2px rgba(92,92,92,0.51);
  -webkit-box-shadow: 2px 3px 7px 2px rgba(92,92,92,0.51);
  -moz-box-shadow: 2px 3px 7px 2px rgba(92,92,92,0.51); */
}

form {
  background: #fff;
  /* box-shadow: 7px 7px 7px #44424246; */
}

.passport-form form {
  padding: 15px;
  border-top: 3px solid #d2d6de; 
  border: 1px solid rgba(0, 0, 0, .125) !important;
  box-shadow: 7px 7px 7px #44424246 !important;
  border-radius: .25rem !important;
  background-clip: border-box !important;
  /* border-radius: 4px;
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.35); */
}

.register-form form, .login-form form {
  /* border: 1px solid #dbe2e8; */
  width: 80%;
  box-shadow: 2px 2px 3px 0 rgba(117, 124, 129, 0.12);
  margin: 40px auto;
}

@media (max-width: 740px) {
  .register-form form, .login-form form {
    width: 100%;
  }
}

.form-header {
  color: #2e3d49;
  font-size: 39px;
}

.form-section {
  padding: 60px;
}

.tabs {
  display: flex;
  align-items: center;
}

.sign-in, .sign-up {
  /* border-bottom: 1px solid #dbe2e8; */
  /* background: #fafbfc; */
  font-weight: 600;
  margin-right: auto;
  color: #7d97ad;
  padding: 18px;
}

.sign-in {
  border-left: 1px solid #dbe2e8;
}

.sign-up {
  border-right: 1px solid #dbe2e8;
}

.tabbed-pane {
  cursor: pointer;
  /* background: #fff; */
}

.tabbed-pane .inactive {
  background-color: #f2f2f2;
}

.tabbed-pane .active {
  /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);; */
  border: none;
  color: #2e3d49;
  cursor: auto;
  border-bottom: #dbe2e8
}

.tabbed-pane {
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  flex-grow: 1;
  text-transform: uppercase;
}

.submit-button {
  /* margin-top: 15px; */
  padding: 30px;
}

.submit-button > a, .submit-button {
  font-weight: 600;
  /* background: #02b3e4; */
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.165em;
}

.submit-button > a, .submit-button .custom-button, .account-btn {
  text-transform: uppercase;
  transition: 0.2s box-shadow ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out !important;
  padding: 13px;
  border-radius: 4px;
  text-align: center;
  text-overflow: ellipsis;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 12px;
}

.submit-passport-form {
  display: flex;
  justify-content: space-between;
}

.submit-passport-form > a, .submit-passport-form > button {
  width: 300px;
}

.form-label, option {
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: #646464;
}

.form-label {
  font-weight: 700;
}

.passport-form .form-section {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(247, 124, 124, 0.842);
  padding: 10px;
}

.passport-form form :first-child {
  border-top: none;
}

.form-section-name {
  color: #009cfc;
}

.star {
  color: rgba(245, 45, 45, 0.986);
}

.form-group {
  flex-grow: 1;
  /* width: 100%; */
  margin-right: 30px;
}

#gender ~ label {
  margin-right: 10px;
}

.bottom-form-group, .top-form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.view-file-icon {
  width: 18px;
  margin-right: 5px;
}

.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #1B1C1D;
  padding: 10px;
  text-align: center;
}

/* 'Source Sans Pro',sans-serif; */





/* for bootstrap custom file upload */
.custom-file-label {
  overflow: hidden;
}