// Sidebar navigation
#slide-out.side-nav.fixed(style="background: url(/img/logo.png) no-repeat;\
background-position: center center;\
background-size: cover;\
background-attachment: fixed;\
background-color: black;")
  ul.custom-scrollbar.list-unstyled
    // Logo
    li.logo-sn.waves-effect
      .text-center
        a.pl-0(href="#")
          img(src="/img/logo.png")
    // /. Logo
    // Search Form
    li
      form.search-form(role="search")
        .form-group.waves-light
          input.form-control(type="text" placeholder="Search")
    // /.Search Form
    // Side navigation links
    li
      ul.collapsible.collapsible-accordion
        li
          a.waves-effect.arrow-r(href="/admin")
            | Dashboard
        hr(style="margin: 10px 0px;")
        li
          a.collapsible-header.waves-effect.arrow-r
            | Transaction Pipeline
            i.fa.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href="/admin/transaction/all_requests") All
              li
                a.waves-effect(href="/admin/transaction/new_requests") New Requests
              li
                a.waves-effect(href="/admin/transaction/under_processing_requests") Under Processing
              li
                a.waves-effect(href="/admin/transaction/completed_requests") Completed Requests
              li
                a.waves-effect(href="/admin/transaction/dispatched_requests") Dispatched Requests
        hr(style="margin: 10px 0px;")
        li
          a.waves-effect.arrow-r(href="#")
            | User Search & Reporting
        hr(style="margin: 10px 0px;")
        li
          a.waves-effect.arrow-r(href="/admin/embassy_requests")
            | Inter-Embassy Requests
        hr(style="margin: 10px 0px;")
        li
          a.collapsible-header.waves-effect.arrow-r
            | Live Chat
            i.fa.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href="#") FAQ
              li
                a.waves-effect(href="/admin/support") Write to support
              li
                a.waves-effect(href="#") Chat with a colleague
              li
                a.waves-effect(href="#") Chat with other Embassies
        hr(style="margin: 10px 0px;")
        li
          a.collapsible-header.waves-effect.arrow-r
            | Settings
            i.fa.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href="" data-toggle="modal" data-target="#priceSettings") Price Settings
              li
                a.waves-effect(href="#") Access Rights
              li
                a.waves-effect(href="#") User log
              li
                a.waves-effect(href="#") Currency
              li
                a.waves-effect(href="#") Bank/Card details
              li
                a.waves-effect(href="#") Embassy Profile
              li
                a.waves-effect(href="#") Staff
    // /. Side navigation links
  // Mask
  .sidenav-bg.mask-strong
// /. Sidebar navigation