doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Embassy Of Denmark
    // Font Awesome
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    // Bootstrap core CSS
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    // Material Design Bootstrap
    link(href="/css/mdb.min.css" rel="stylesheet")
    // Your custom styles (optional)
    link(href="/css/style.css" rel="stylesheet")
    link(href="/css/compiled.min.css" rel="stylesheet")
  body.fixed-sn.mdb-skin
    // Main Navigation
    header
      // Navbar
      nav.navbar.navbar-expand-lg.navbar-dark.double-nav.fixed-top.scrolling-navbar
        // SideNav slide-out button
        .float-left
          a.button-collapse(href="#" data-activates="slide-out")
            i.fa.fa-bars
        // Breadcrumb
        .breadcrumb-dn.mr-auto
          p(style="font-weight: 600; font-size: 13px;") ADMIN DASHBOARD
        // Links
        ul.nav.navbar-nav.nav-flex-icons.ml-auto
          li.nav-item
            a.nav-link(href="/admin/support")
              i.fa.fa-comments-o
              span.clearfix.d-none.d-sm-inline-block support
          li.nav-item
            a.nav-link(href="/admin/settings")
              i.fa.fa-gear
              span.clearfix.d-none.d-sm-inline-block Settings
          li.nav-item.dropdown
            a.nav-link(href="/logout")
              i.fa.fa-power-off
      // /.Navbar
      // Sidebar navigation
      #slide-out.side-nav.fixed(style="background: url(/img/logo.png) no-repeat;\
      background-position: center center;\
      background-size: cover;\
      background-attachment: fixed;\
      background-color: black;")
        ul.custom-scrollbar.list-unstyled
          // Logo
          li.logo-sn.waves-effect
            .text-center
              a.pl-0(href="#")
                img(src="/img/logo.png")
          // /. Logo
          // Search Form
          li
            form.search-form(role="search")
              .form-group.waves-light
                input.form-control(type="text" placeholder="Search")
          // /.Search Form
          // Side navigation links
          li
            ul.collapsible.collapsible-accordion
              li
                a.waves-effect.arrow-r(href="/admin")
                  | Dashboard
              hr(style="margin: 10px 0px;")
              li
                a.collapsible-header.waves-effect.arrow-r
                  | Transaction Pipeline
                  i.fa.fa-angle-down.rotate-icon
                .collapsible-body
                  ul
                    li
                      a.waves-effect(href="/admin/transaction") All
                    li
                      a.waves-effect(href="/admin/transaction") New Requests
                    li
                      a.waves-effect(href="/admin/transaction") Under Processing
                    li
                      a.waves-effect(href="/admin/transaction") Completed Requests
                    li
                      a.waves-effect(href="/admin/transaction") Dispatched Requests
              hr(style="margin: 10px 0px;")
              li
                a.waves-effect.arrow-r(href="/admin/user_search")
                  | User Search & Reporting
              hr(style="margin: 10px 0px;")
              li
                a.waves-effect.arrow-r(href="/admin/embassy_requests")
                  | Inter-Embassy Requests
              hr(style="margin: 10px 0px;")
              li
                a.collapsible-header.waves-effect.arrow-r
                  | Live Chat
                  i.fa.fa-angle-down.rotate-icon
                .collapsible-body
                  ul
                    li
                      a.waves-effect(href="#") FAQ
                    li
                      a.waves-effect(href="/admin/support") Write to support
                    li
                      a.waves-effect(href="#") Chat with a collegue
                    li
                      a.waves-effect(href="#") Chat with other Embassies
              hr(style="margin: 10px 0px;")
              li
                a.collapsible-header.waves-effect.arrow-r
                  | Settings
                  i.fa.fa-angle-down.rotate-icon
                .collapsible-body
                  ul
                    li
                      a.waves-effect(href="#") Access Rights
                    li
                      a.waves-effect(href="#") User log
                    li
                      a.waves-effect(href="#") Currency
                    li
                      a.waves-effect(href="#") Bank/Card details
                    li
                      a.waves-effect(href="#") Embassy Profile
                    li
                      a.waves-effect(href="#") Staff
          // /. Side navigation links
        // Mask
        .sidenav-bg.mask-strong
      // /. Sidebar navigation
    // Main Navigation
    // Main layout
    main(style="margin: 0%;")
      .container.row(style="margin: 0px;")
        .col-md-12
          section
            h6(style="font-weight:600;") WRITE TO SUPPORT
          hr
          section.section
            p.section-description
              | Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to
              | you within matter of hours to help you.
            if message
              .alert.alert-success.text-center.alert-dismissible(role="alert" data-dismiss="alert") 
                a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
                | #{message}
            .row
              // Grid column
              .col-md-12
                form#contact-form(name="contact-form" action="/admin/support" method="POST")
                  // Grid row
                  .row
                    // Grid column
                    .col-md-6
                      .md-form
                        input#name.form-control(type="text" name="name")
                        label(for="name") Embassy name
                    // Grid column
                    // Grid column
                    .col-md-6
                      .md-form
                        input#email.form-control(type="text" name="email")
                        label(for="email") Embassy email
                    // Grid column
                  // Grid row
                  // Grid row
                  .row
                    .col-md-12
                      .md-form
                        input#subject.form-control(type="text" name="subject")
                        label(for="subject") Subject
                  // Grid row
                  // Grid row
                  .row
                    // Grid column
                    .col-md-12
                      .md-form
                        textarea#message.form-control.md-textarea(type="text" name="message" rows="2")
                        label(for="message") Your message
                  // Grid row
                .center-on-small-only
                  a.btn.btn-primary(onclick="document.getElementById('contact-form').submit();") Send
                .status
              // Grid column
          // Section: Contact v.2
    // Main layout
    // Footer
    footer.page-footer.center-on-small-only
      .flex-center.mb-3.mt-2
        a.px-3(href="")
          i.fa.fa-facebook
        a.px-3(href="")
          i.fa.fa-instagram
        a.px-3(href="")
          i.fa.fa-google
        a.px-3(href="")
          i.fa.fa-twitter
        a.px-3(href="")
          i.fa.fa-linkedin
      // Copyright
      .footer-copyright
        .container-fluid
          | © 2018 Copyright:
          a(href="https://www.MDBootstrap.com")  Embassy Of Denmark 
    script(src="/js/jquery.min.js")
    // Bootstrap tooltips
    script(type="text/javascript" src="/js/popper.min.js")
    // Bootstrap core JavaScript
    script(type="text/javascript" src="/js/bootstrap.min.js")
    // MDB core JavaScript
    script(type="text/javascript" src="/js/mdb.min.js")
    script(type="text/javascript" src="/js/compiled.min.js")
    script(type="text/javascript" src="/js/custom.js")
    // Initializations
    script.
      // SideNav Initialization
      $(".button-collapse").sideNav();
      // Material Select Initialization
      $(document).ready(function () {
      $('.mdb-select').material_select();
      });
      // Data Picker Initialization
      $('.datepicker').pickadate();
      // Tooltip Initialization
      $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      })
    // Charts
    script.
      // Minimalist chart
      $(function () {
      $('.min-chart#chart-revenue').easyPieChart({
      barColor: "#4caf50",
      onStep: function (from, to, percent) {
      $(this.el).find('.percent').text(Math.round(percent));
      }
      });
      });
      // Main chart
      var ctxL = document.getElementById("lineChart").getContext('2d');
      var myLineChart = new Chart(ctxL, {
      type: 'line',
      data: {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [{
      label: "Revenue Graph",
      fillColor: "#fff",
      backgroundColor: 'rgba(255, 255, 255, .3)',
      borderColor: 'rgba(255, 99, 132)',
      data: [0, 10, 5, 2, 20, 30, 45],
      }]
      },
      options: {
      legend: {
      labels: {
      fontColor: "#fff",
      }
      },
      scales: {
      xAxes: [{
      gridLines: {
      display: true,
      color: "rgba(255,255,255,.25)"
      },
      ticks: {
      fontColor: "#fff",
      },
      }],
      yAxes: [{
      display: true,
      gridLines: {
      display: true,
      color: "rgba(255,255,255,.25)"
      },
      ticks: {
      fontColor: "#fff",
      },
      }],
      }
      }
      });
    // Alerts
    script.
      $(function () {
      $('#folder-1').click(function () {
      toastr.error("Folder 1 has been clicked!", "Folder 1", {
      "positionClass": "toast-top-right",
      });
      });
      $('#folder-2').click(function () {
      // make it not dissappear
      toastr.info("Folder 2 has been clicked!", "Folder 2", );
      });
      $('#folder-3').click(function () {
      // make it not dissappear
      toastr.info("Folder 3 has been clicked!", "Folder 3", );
      });
      });
    // sticky
    script(type="text/javascript").
      $(function () {
      $(".sticky").sticky({
      topSpacing: 90
      , zIndex: 2
      , stopper: "#stopper"
      });
      });
