extends ./layout.pug

block main
  // Main Navigation
  // Main layout
  main(style="margin: 0%;")
    .container.row(style="margin: 0px;")
      .col-md-12
        section
          h6(style="font-weight:600;") WRITE TO SUPPORT
        hr
        section.section
          p.section-description
            | Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to
            | you within matter of hours to help you.
          if message
            .alert.alert-success.text-center.alert-dismissible(role="alert" data-dismiss="alert") 
              a(href="#" class="close" data-dismiss="alert" aria-label="close") &times;
              | #{message}
          .row
            // Grid column
            .col-md-12
              form#contact-form(name="contact-form" action="/admin/support" method="POST")
                // Grid row
                .row
                  // Grid column
                  .col-md-6
                    .md-form
                      input#name.form-control(type="text" name="embassyName")
                      label(for="embassyName") Embassy name
                  // Grid column
                  // Grid column
                  .col-md-6
                    .md-form
                      input#email.form-control(type="text" name="embassyEmail")
                      label(for="embassyEmail") Embassy email
                  // Grid column
                // Grid row
                // Grid row
                .row
                  .col-md-12
                    .md-form
                      input#subject.form-control(type="text" name="subject")
                      label(for="subject") Subject
                // Grid row
                // Grid row
                .row
                  // Grid column
                  .col-md-12
                    .md-form
                      textarea#message.form-control.md-textarea(type="text" name="message" rows="2")
                      label(for="message") Your message
                // Grid row
              .center-on-small-only
                a.btn.btn-primary(onclick="document.getElementById('contact-form').submit();") Send
              .status
            // Grid column
        // Section: Contact v.2