header.header
  nav.navbar.navbar-expand-lg
    a.navbar-brand.ml-4(href="/") 
      img.header-img(src="/img/logo.png", title="denmark logo" alt="logo")
    #navbarNav.collapse.navbar-collapse.ml-4
      ul.nav-tabs.nav
        li.nav-item
          a.nav-link#home(href="/") &nbsp &nbsp Home &nbsp &nbsp
        li.nav-item
          a.nav-link#dashboard.active(href="/profile") &nbsp &nbsp My Account &nbsp &nbsp
        li.nav-item.dropdown
          a#applications.nav-link.dropdown-toggle(href="/forms/passport" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") &nbsp &nbsp Application Forms &nbsp &nbsp
          .dropdown-menu
            a.dropdown-item(href="/forms/passport") Passport Form
            a.dropdown-item(href="/forms/visa") Visa Form
            a.dropdown-item(href="/forms/dual-citizenship") Dual Citizenship Form
            a.dropdown-item(href="/forms/appointment") Appointment Form
      if userId
        li.nav-item.user-profile.dropdown  
          div#dropdownMenuLink.btn.dropdown-toggle.username(role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')  
            img.text-muted.avatar.mr-1(src="/img/avatar.png", alt="avatar")
            | #{email}
          .dropdown-menu(aria-labelledby='dropdownMenuLink')
            a.dropdown-item(href='/profile')
              img.icon.user-icon(src="/img/user.svg")
              | Profile
            a.dropdown-item(href='/account') 
              img.icon.settings-icon(src="/img/settings.svg")
              | Account Settings
            a.dropdown-item.sign-out(href="/logout")
              img.icon.sign-out-icon(src="/img/power.svg")
              | Sign Out
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon