doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='apple-touch-icon', sizes='76x76', href='../assets/img/apple-icon.png')
    link(rel='icon', type='image/png', href='/img/logo.png')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Embassy of Denmark
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no', name='viewport')
    // Fonts and icons
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    // CSS Files
    block pre_bootstrap
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/material-dashboard.css?v=2.1.0', rel='stylesheet')
    block styles

  body
    .wrapper
      .sidebar(data-color='purple', data-background-color='white', data-image='/img/sidebar-1.jpg')
        //
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
          Tip 2: you can also add an image using data-image tag
        .logo
          a.simple-text.logo-normal
            | Hi, #{email || fullName}
        .sidebar-wrapper
          ul.nav
            li.nav-item#dashboard
              a.nav-link(href='#')
                i.material-icons dashboard
                p Dashboard
            li.nav-item#userProfile
              a.nav-link(href='/profile')
                i.material-icons person
                p User Profile
            li.nav-item.active#history
              a.nav-link(href='/history')
                i.material-icons history
                p History
            li.nav-item#formsDropdownMenuLink(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              a.nav-link(href='/forms/passport')
                i.material-icons content_paste
                p Forms
            .dropdown-menu.dropdown-menu-right(aria-labelledby='formsDropdownMenuLink')
              a.dropdown-item(href='/forms/passport') Passport Form
              a.dropdown-item(href='/forms/visa') Visa Form
              a.dropdown-item(href='#') Dual Citizenship Form
              a.dropdown-item(href='/forms/appointment') Appointment Form
      .main-panel
        // Navbar
        nav.navbar.navbar-expand-lg.navbar-transparent.navbar-absolute.fixed-top
          .container-fluid
            .navbar-wrapper
              a.navbar-brand #{headerText || "Dashboard"}
            button.navbar-toggler(type='button', data-toggle='collapse', aria-controls='navigation-index', aria-expanded='false', aria-label='Toggle navigation')
              span.sr-only Toggle navigation
              span.navbar-toggler-icon.icon-bar
              span.navbar-toggler-icon.icon-bar
              span.navbar-toggler-icon.icon-bar
            .collapse.navbar-collapse.justify-content-end
              form.navbar-form
                .input-group.no-border
                  input.form-control(type='text', value='', placeholder='Search...')
                  button.btn.btn-white.btn-round.btn-just-icon(type='submit')
                    i.material-icons search
                    .ripple-container
              ul.navbar-nav
                li.nav-item
                  a.nav-link(href='#pablo')
                    i.material-icons dashboard
                    p.d-lg-none.d-md-block
                      | Stats
                li.nav-item.dropdown
                  a#navbarDropdownMenuLink.nav-link(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    i.material-icons notifications
                    span.notification 3
                    p.d-lg-none.d-md-block
                      | Notifications
                  .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
                    a.dropdown-item(href='#') You have 5 new tasks
                    a.dropdown-item(href='#') Another Notification
                    a.dropdown-item(href='#') Another One
                li.nav-item
                  a.nav-link(href='/logout' title="sign out")
                    i.material-icons power_settings_new
                    p.d-lg-none.d-md-block
                      | Sign out
        block main
        include ./includes/_footer
        script.
          if(location.pathname === "/profile") {
            $("#userProfile").addClass("active");
            $("#history").removeClass("active");
            $("#passportForm").removeClass("active");
          }

          if(location.pathname === "/history") {
            $("#history").addClass("active");
            $("#userProfile").removeClass("active");
            $("#passportForm").removeClass("active");
          }

          if(location.pathname.includes("forms")) {
            console.log("hey");
            $("#userProfile").removeClass("active");
            $("#history").removeClass("active");
            $("#formsDropdownMenuLink").addClass("active");
          }
    block scripts
                    