<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/landing.css")
    title Document
  body
    header.header
      nav.navbar.navbar-expand-lg
        a.navbar-brand.ml-4(href="/") 
          img.header-img(src="/img/logo.png", title="denmark logo" alt="logo")
        #navbarNav.collapse.navbar-collapse.ml-4
          ul.nav.justify-content-end
            li.nav-item
              a.nav-link.home.active(href="/") Home
            li.nav-item
              a.nav-link(href="/forms/passport") About
            li.nav-item
              a.nav-link(href="/forms/passport") FAQs
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
    .main-content
      h1.display-1.my-4.text-center iEmbassy
      h5.text-center.text-muted A cloud based online embassy management system
      .select.text-center.my-5
        a.btn.btn-outline-success.mx-2(href="/register") Create Account
        a.btn.btn-primary.mx-2(href="/login") &nbsp &nbsp &nbsp Sign in &nbsp &nbsp &nbsp
      .carousel-content
        #carouselExampleIndicators.carousel.slide(data-ride="carousel")
          ol.carousel-indicators
            li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
            li(data-target="#carouselExampleIndicators" data-slide-to="1")
            li(data-target="#carouselExampleIndicators" data-slide-to="2")
          .carousel-inner
            .carousel-item.active
              img.carousel-img.d-block.w-100(src="/img/rawpixel-653764-unsplash.jpg" alt="First slide")
            .carousel-item
              img.carousel-img.d-block.w-100(src="/img/pexels-photo-905873.jpeg" alt="First slide")
            .carousel-item
              img.carousel-img.d-block.w-100(src="/img/ba.jpg" alt="Second slide")
            .carousel-item
              img.carousel-img.d-block.w-100(src="/img/landing2.jpg" alt="Second slide")
          a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
          a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next
    .main-footer.text-muted
        footer Copyright &copy; 2018 iEmbassy: Subsidiary of 3E-Technologies & Innovations. All rights reserved.
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")