doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/png', href='/img/logo.png')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    style.
      .carousel-item {
        height: 100vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      .header-img {
        width: 35px;
      }
      .star {
        color: rgba(245, 45, 45, 0.986);
      }
      /*login_register*/
      .modal-dialog {
        width:350px;
      }

      .login .social {
        float: none;
        margin: 0 auto 30px;
        text-align: center;
      }

      .login .modal-footer{
        border-top: 0;
        margin-top: 0px;
        padding: 10px 20px 20px;                        
      }
      .login .modal-header {
          border: none;
          padding: 5px !important;
      /*     padding: 11px 15px; */
      }

      .login .form-control{
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.09);
        box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
        color: #FFFFFF;
      }
      .login .form-control:hover{
        background-color: rgba(0,0,0,.16);
      }
      .login .form-control:focus{
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
        background-color: rgba(0,0,0,0.23);
        color: #FFFFFF;
      }

      .login .division {
          float: none;
          margin: 0 auto 18px;
          overflow: hidden;
          position: relative;
          text-align: center;
          width: 100%;
      }
      .login .division .line {
          border-top: 1px solid #DFDFDF;
          position: absolute;
          top: 10px;
          width: 34%;
      }
      .login .division .line.l {
          left: 0;
      }
      .login .division .line.r {
          right: 0;
      }
      .login .division span {
          color: #424242;
          font-size: 17px;
      }

      .login .social .circle{
        background-color: #EEEEEE;
        color: #FFFFFF;
        border-radius: 100px;
        display: inline-block;
        margin: 0 17px;
        padding: 15px;
      }
      .login .social .circle .fa{
        font-size: 16px;
      }
      .login .social .facebook{
        background-color: #455CA8;
        color: #FFFFFF;
      }
      .login .social .google{
        background-color: #F74933;
      }
      .login .social .github{
        background-color: #403A3A;
      }
      .login .facebook:hover{
        background-color: #6E83CD;
      }
      .login .google:hover{
        background-color: #FF7566;
      }
      .login .github:hover{
        background-color: #4D4D4d;;
      }

      .login .form input[type="text"], .login .form input[type="password"] {
        border-radius: 3px;
        border: none;
        color: #333333;
        font-size: 16px;
        height: 36px;
        padding: 13px 12px;
        width: 100%;
      }

      .login .forgot {
        color: #797979;
        margin-left: 0;
        overflow: hidden;
        text-align: center;
        width: 100%;
      }
    title Embassy of Denmark
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
      .container
        a.navbar-brand(href='#') Embassy of Denmark
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link.my-2(href='#')
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link.my-2(href='#') About
            li.nav-item
                button.btn.btn-success.my-2.mx-2(type="button" data-toggle="modal" data-target="#createAccount") Create Account
            li.nav-item
              button.btn.btn-outline-primary.my-2.mx-2(type="button" data-toggle="modal" data-target="#signin") &nbsp &nbsp &nbsp Sign in &nbsp &nbsp &nbsp
    header
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
        .carousel-inner(role='listbox')
          // Slide One - Set the background image for this slide in the line below
          .carousel-item.active(style="background-image: url('/img/rawpixel-626044-unsplash.jpg')")
            .carousel-caption.d-none.d-md-block
              h2.display-4 First Slide
              p.lead This is a description for the first slide.
          // Slide Two - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('/img/rawpixel-567016-unsplash.jpg')")
            .carousel-caption.d-none.d-md-block
              h2.display-4 Second Slide
              p.lead This is a description for the second slide.
          // Slide Three - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('/img/rawpixel-594848-unsplash.jpg')")
            .carousel-caption.d-none.d-md-block
              h2.display-4 Third Slide
              p.lead This is a description for the third slide.
          // Slide Four - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('/img/pexels-photo-905873.jpeg')")
            .carousel-caption.d-none.d-md-block
              h2.display-4 Fourth Slide
              p.lead This is a description for the fourth slide.
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
    // Page Content
    section.py-5
      .container.text-center
        h1.display-4 Embassy of Denmark
        p.lead A cloud based online embassy management system
    .modal.fade.login(id='createAccount' tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog.login(role='document')
        .modal-content
          .modal-header
            //- img.header-img(src="/img/logo.png")
            h5#exampleModalLabel.modal-title.ml-3 Sign up with
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .social
              a.circle.github(href='/auth/github')
                i.fa.fa-github.fa-fw
              a#google_login.circle.google(href='/auth/google_oauth2')
                i.fa.fa-google-plus.fa-fw
              a#facebook_login.circle.facebook(href='/auth/facebook')
                i.fa.fa-facebook.fa-fw
            .division
              .line.l
              span or
              .line.r
            form.form(action="/create-profile" method="POST")
              .form-group
                input(required class="form-control" placeholder="Full name : " id="fullName" type="text" name="fullName" data-toggle="tooltip")
              .form-group
                input(required class="form-control" placeholder="Email : " id="e" type="text" name="email" data-toggle="tooltip" )
              .form-group
                input(required class="form-control" placeholder="Password : " id="p" type="password" name="password")
              .form-group
                input(required class="form-control" placeholder="Confirm Password : " id="confirmPassword" type="password" name="confirmPassword")
              button(class="btn btn-primary btn-block my-4" type="submit") Create Account
          //- .modal-footer
            .forgot.login-footer
              span Already have an account? 
                a(href='' data-toggle="modal" data-target="#signin") Login
    .modal.fade.login(id='signin' tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog.login(role='document')
        .modal-content
          .modal-header
            //- img.header-img(src="/img/logo.png")
            h5#exampleModalLabel.modal-title.ml-3 Sign in with
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            .social
              a.circle.github(href='/auth/github')
                i.fa.fa-github.fa-fw
              a#google_login.circle.google(href='/auth/google_oauth2')
                i.fa.fa-google-plus.fa-fw
              a#facebook_login.circle.facebook(href='/auth/facebook')
                i.fa.fa-facebook.fa-fw
            .division
              .line.l
              span or
              .line.r
            form.form(action="/login" method="POST")
              .form-group
                input(required class="form-control" placeholder="Email : " id="email" type="text" name="email" data-toggle="tooltip" )
              .form-group
                input(required class="form-control" placeholder="Password : " id="password" type="password" name="password")
              button(class="btn btn-primary btn-block my-4" type="submit") Sign in
          //- .modal-footer
            .forgot.login-footer
              span
                | Looking to 
                a(href="" data-toggle="modal" data-target="#createAccount") create an account
                |                             ?
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
