doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
    // Title
    title Embassy of Denmark
    // Favicon
    link(rel='icon', href='img/logo.png')
    // Core Stylesheet
    link(href='style.css', rel='stylesheet')
    // Responsive CSS
    link(href='css/responsive.css', rel='stylesheet')
  body
    // Preloader Start
    #preloader
      .colorlib-load
    // ***** Header Area Start *****
    header.header_area.animated
      .container-fluid
        .row.align-items-center
          // Menu Area Start
          .col-12.col-lg-10
            .menu_area
              nav.navbar.navbar-expand-lg.navbar-light
                // Logo
                a.navbar-brand(href='/') 
                  img(src="/img/logo.png", alt="eD" style="width:40px")
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#ca-navbar', aria-controls='ca-navbar', aria-expanded='false', aria-label='Toggle navigation')
                  span.navbar-toggler-icon
                // Menu Area
                #ca-navbar.collapse.navbar-collapse
                  ul#nav.navbar-nav.ml-auto
                    li.nav-item.active
                      a.nav-link(href='#home') Home
                    //- li.nav-item
                    //-   a.nav-link(href='#about') About
                    li.nav-item
                      a.nav-link(href='#features') Features
                    li.nav-item
                      a.nav-link(href='#screenshot') Screenshots
                    //- li.nav-item
                    //-   a.nav-link(href='#pricing') Pricing
                    li.nav-item
                      a.nav-link(href='#testimonials') Testimonials
                    //- li.nav-item
                    //-   a.nav-link(href='#team') Team
                    li.nav-item
                      a.nav-link(href='#contact') Contact
                  .sing-up-button
                    a(href='/login') Sign In
          // Signup btn
          .col-12.col-lg-2
            .sing-up-button.d-none.d-lg-block
              a(href='/signup') Create Account
    // ***** Header Area End *****
    // ***** Welcome Area Start *****
    section#home.wellcome_area.clearfix
      .container.h-100
        .row.h-100.align-items-center
          .col-12.col-md
            .wellcome-heading
              h2 Embassy of Denmark
              h3 eD
              p Manage all embassy transactions online with minimal stress
            //- .get-start-area
            //-   // Form Start
            //-   form.form-inline(action='#', method='post')
            //-     input.form-control.email(type='email', placeholder='name@company.com')
            //-     input.submit(type='submit', value='Get Started')
            //-   // Form End
      // Welcome thumb
      .welcome-thumb.wow.fadeInDown(data-wow-delay='0.5s')
        img(src='img/bg-img/welcome-img.png', alt='')
    // ***** Wellcome Area End *****
    // ***** Awesome Features Start *****
    section#features.awesome-feature-area.bg-white.section_padding_0_50.clearfix
      .container
        .row
          .col-12
            // Heading Text
            .section-heading.text-center
              h2 Awesome Features
              .line-shape
        .row
          // Single Feature Start
          .col-12.col-sm-6.col-lg-4
            .single-feature
              i.ti-user(aria-hidden='true')
              h5 Awesome Experience
              p
                | Don't just fill forms and carry out transactions - feel good and have fun while doing that in grand style. No boring moment.
          // Single Feature Start
          .col-12.col-sm-6.col-lg-4
            .single-feature
              i.ti-pulse(aria-hidden='true')
              h5 Fast and Simple
              p
                | Buy, fill and pay for forms in a jiffy. No long procedures. All you need to do is to create an account and you're good to go.
          // Single Feature Start
          .col-12.col-sm-6.col-lg-4
            .single-feature
              i.ti-mobile(aria-hidden='true')
              h5 Mobile Friendly
              p
                | You don't necessarily need a laptop or desktop. With just your smart phone, you can enjoy all features just as much.
          // Single Feature Start
          .col-12.col-sm-6.col-lg-4
            .single-feature
              i.ti-palette(aria-hidden='true')
              h5 Perfect Design
              p
                | Beautiful interface and forms design that will blow your mind.
          // Single Feature Start
          .col-12.col-sm-6.col-lg-4
            .single-feature
              i.ti-lock(aria-hidden='true')
              h5 Highly Secured
              p
                | We assure our clients total security and privacy relating to all data provided.
          // Single Feature Start
          .col-12.col-sm-6.col-lg-4
            .single-feature
              i.ti-infinite(aria-hidden='true')
              h5 24/7 Online Support
              p
                | No closing time, no lunch breaks. Always available to you as and when you want. Just log on and do your thing.
    // ***** Awesome Features End *****
    // ***** Video Area Start *****
    .video-section
      .container
        .row
          .col-12
            // Video Area Start
            .video-area(style='background-image: url(img/bg-img/video.jpg);')
              .video-play-btn
                a.video_btn(href='https://www.youtube.com/watch?v=f5BBJ4ySgpo')
                  i.fa.fa-play(aria-hidden='true')
    // ***** Video Area End *****
    // ***** Cool Facts Area Start *****
    section.cool_facts_area.clearfix
      .container
        .row.text-center
          // Single Cool Fact
          .col-12.col-md-3.col-lg-3
            .single-cool-fact.d-flex.justify-content-center.wow.fadeInUp(data-wow-delay='0.2s')
              .counter-area
                h3
                  span.counter 90
              .cool-facts-content
                i.ion-document
                p
                  | FORMS
                  br
                  |  DAILY
          // Single Cool Fact
          .col-12.col-md-3.col-lg-3
            .single-cool-fact.d-flex.justify-content-center.wow.fadeInUp(data-wow-delay='0.4s')
              .counter-area
                h3
                  span.counter 120
              .cool-facts-content
                i.ion-happy-outline
                p
                  | HAPPY
                  br
                  |  CLIENTS
          // Single Cool Fact
          .col-12.col-md-3.col-lg-3
            .single-cool-fact.d-flex.justify-content-center.wow.fadeInUp(data-wow-delay='0.6s')
              .counter-area
                h3
                  span.counter 40
              .cool-facts-content
                i.ion-person
                p
                  | ACTIVE 
                  br
                  | ACCOUNTS
          // Single Cool Fact
          .col-12.col-md-3.col-lg-3
            .single-cool-fact.d-flex.justify-content-center.wow.fadeInUp(data-wow-delay='0.8s')
              .counter-area
                h3
                  span.counter 10
              .cool-facts-content
                i.ion-ios-star-outline
                p
                  | TOTAL 
                  br
                  | APP RATES
    // ***** Cool Facts Area End *****
    // ***** App Screenshots Area Start *****
    section#screenshot.app-screenshots-area.bg-white.section_padding_0_100.clearfix
      .container
        .row
          .col-12.text-center
            // Heading Text
            .section-heading
              h2 App Screenshots
              .line-shape
      .container-fluid
        .row
          .col-12
            // App Screenshots Slides
            .app_screenshots_slides.owl-carousel
              .single-shot
                img(src='/img/Screenshot (42).png', alt='screenshots')
              .single-shot
                img(src='/img/Screenshot (43).png', alt='screenshots')
              .single-shot
                img(src='/img/Screenshot (44).png', alt='screenshots')
              //- .single-shot
                //- img(src='img/scr-img/app-3.jpg', alt='')
    // ***** App Screenshots Area End *****======
    //- // ***** Pricing Plane Area Start *****====
    //- section#pricing.pricing-plane-area.section_padding_100_70.clearfix
    //-   .container
    //-     .row
    //-       .col-12
    //-         // Heading Text
    //-         .section-heading.text-center
    //-           h2 Pricing Plan
    //-           .line-shape
    //-     .row.no-gutters
    //-       .col-12.col-md-6.col-lg-3
    //-         // Package Price
    //-         .single-price-plan.text-center
    //-           // Package Text
    //-           .package-plan
    //-             h5 Starter Plan
    //-             .ca-price.d-flex.justify-content-center
    //-               span $
    //-               h4 29
    //-           .package-description
    //-             p Up to 10 users monthly
    //-             p Unlimited updates
    //-             p Free host & domain
    //-             p 24/7 Support
    //-             p 10 Unique Users
    //-           // Plan Button
    //-           .plan-button
    //-             a(href='#') Select Plan
    //-       .col-12.col-md-6.col-lg-3
    //-         // Package Price
    //-         .single-price-plan.text-center
    //-           // Package Text
    //-           .package-plan
    //-             h5 Basic Plan
    //-             .ca-price.d-flex.justify-content-center
    //-               span $
    //-               h4 49
    //-           .package-description
    //-             p Up to 10 users monthly
    //-             p Unlimited updates
    //-             p Free host & domain
    //-             p 24/7 Support
    //-             p 10 Unique Users
    //-           // Plan Button
    //-           .plan-button
    //-             a(href='#') Select Plan
    //-       .col-12.col-md-6.col-lg-3
    //-         // Package Price
    //-         .single-price-plan.active.text-center
    //-           // Package Text
    //-           .package-plan
    //-             h5 Advenced Plan
    //-             .ca-price.d-flex.justify-content-center
    //-               span $
    //-               h4 69
    //-           .package-description
    //-             p Up to 10 users monthly
    //-             p Unlimited updates
    //-             p Free host & domain
    //-             p 24/7 Support
    //-             p 10 Unique Users
    //-           // Plan Button
    //-           .plan-button
    //-             a(href='#') Select Plan
    //-       .col-12.col-md-6.col-lg-3
    //-         // Package Price
    //-         .single-price-plan.text-center
    //-           // Package Text
    //-           .package-plan
    //-             h5 Community Plan
    //-             .ca-price.d-flex.justify-content-center
    //-               span $
    //-               h4 99
    //-           .package-description
    //-             p Up to 10 users monthly
    //-             p Unlimited updates
    //-             p Free host & domain
    //-             p 24/7 Support
    //-             p 10 Unique Users
    //-           // Plan Button
    //-           .plan-button
    //-             a(href='#') Select Plan
    //- // ***** Pricing Plane Area End *****
    // ***** Client Feedback Area Start *****
    section#testimonials.clients-feedback-area.bg-white.section_padding_100.clearfix
      .container
        .row.justify-content-center
          .col-12.col-md-10
            .slider.slider-for
              // Client Feedback Text
              .client-feedback-text.text-center
                .client
                  i.fa.fa-quote-left(aria-hidden='true')
                .client-description.text-center
                  p
                    | “ Thought we should give our clients more because they actually deserve more. ”
                .star-icon.text-center
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                .client-name.text-center
                  h5 Aigars Silkalns
                  p Manager, Embassy of Denmark
              // Client Feedback Text
              .client-feedback-text.text-center
                .client
                  i.fa.fa-quote-left(aria-hidden='true')
                .client-description.text-center
                  p
                    | “ Particularly concerned about the long queues and stress involved in acquiring a visa. I think it's now out of my 'stress' list ”
                .star-icon.text-center
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                .client-name.text-center
                  h5 Jennifer
                  p Missionary
              // Client Feedback Text
              .client-feedback-text.text-center
                .client
                  i.fa.fa-quote-left(aria-hidden='true')
                .client-description.text-center
                  p
                    | “ I always believed that we were missing something when it comes to embassy transactions. Embassy of Denmark has done more than clear that.”
                .star-icon.text-center
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                .client-name.text-center
                  h5 Helen
                  p Marketer
              // Client Feedback Text
              .client-feedback-text.text-center
                .client
                  i.fa.fa-quote-left(aria-hidden='true')
                .client-description.text-center
                  p
                    | “ I had a hard time doing embassy transactions due to my stringent schedules. Thanks to eD, I no longer have to go through that stress. ”
                .star-icon.text-center
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                  i.ion-ios-star
                .client-name.text-center
                  h5 Henry smith
                  p Developer
          // Client Thumbnail Area
          .col-12.col-md-6.col-lg-5
            .slider.slider-nav
              .client-thumbnail
                img(src='img/bg-img/client-3.jpg', alt='')
              .client-thumbnail
                img(src='img/bg-img/client-2.jpg', alt='')
              .client-thumbnail
                img(src='img/bg-img/client-1.jpg', alt='')
              .client-thumbnail
                img(src='img/bg-img/client-2.jpg', alt='')
    // ***** Client Feedback Area End *****
    // ***** Contact Us Area Start *****
    section#contact.footer-contact-area.section_padding_100.clearfix
      .container
        .row
          .col-md-6
            // Heading Text
            .section-heading
              h2 Have any issue or suggestion?
              .line-shape
            .footer-text
              p
                | Send us a message or contact us and we'll give it the needed attention - it means a lot to us !!
            .address-text
              p
                span Address:
                | &nbsp &nbsp Egebjerg Alle 13, DK - 2900 Hellerup, Denmark.
            .phone-text
              p
                span Phone:
                | &nbsp &nbsp +45 3962 8222
            .email-text
              p
                span Email:
                | &nbsp &nbsp ghana@mail.dk / copenhagen@mfa.gov.gh
          .col-md-6
            // Form Start
            .contact_from
              form(action='/users/suggestion', method='post')
                // Message Input Area Start
                .contact_input_area
                  .row
                    // Single Input Area Start
                    .col-md-12
                      .form-group
                        input#name.form-control(type='text', name='name', placeholder='Your Name', required='')
                    // Single Input Area Start
                    .col-md-12
                      .form-group
                        input#email.form-control(type='email', name='email', placeholder='Your E-mail', required='')
                    // Single Input Area Start
                    .col-12
                      .form-group
                        textarea#message.form-control(name='message', cols='30', rows='4', placeholder='Your Message *', required='')
                    // Single Input Area Start
                    .col-12
                      button.btn.submit-btn(type='submit') Send Now
                // Message Input Area End
    // ***** Contact Us Area End *****
    //- // ***** Footer Area Start *****
    //- footer.footer-social-icon.text-center.section_padding_70.clearfix
    //-   // footer logo
    //-   .footer-text
    //-     h2 Ca.
    //-   // social icon
    //-   .footer-social-icon
    //-     a(href='#')
    //-       i.fa.fa-facebook(aria-hidden='true')
    //-     a(href='#')
    //-       i.active.fa.fa-twitter(aria-hidden='true')
    //-     a(href='#')
    //-       i.fa.fa-instagram(aria-hidden='true')
    //-     a(href='#')
    //-       i.fa.fa-google-plus(aria-hidden='true')
    //-   .footer-menu
    //-     nav
    //-       ul
    //-         li
    //-           a(href='#') About
    //-         li
    //-           a(href='#') Terms & Conditions
    //-         li
    //-           a(href='#') Privacy Policy
    //-         li
    //-           a(href='#contact') Contact
    //-   // Foooter Text
    //-   .copyright-text
    //-     // ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 *****
    //-     p
    //-       | Copyright ©2017 Ca. Designed by 
    //-       a(href='https://colorlib.com', target='_blank') Colorlib
    //- //- // ***** Footer Area Start *****
    // Jquery-2.2.4 JS
    script(src='js/jquery-2.2.4.min.js')
    // Popper js
    script(src='js/popper.min.js')
    // Bootstrap-4 Beta JS
    script(src='js/bootstrap.min.js')
    // All Plugins JS
    script(src='js/plugins.js')
    // Slick Slider Js
    script(src='js/slick.min.js')
    // Footer Reveal JS
    //- script(src='js/footer-reveal.min.js')
    // Active JS
    script(src='js/active.js')
