doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    //- link(rel="stylesheet", href="/css/landing.css")
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    style.
      .carousel-item {
        height: 100vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      .header-img {
        width: 50px;
      }
      .star {
        color: rgba(245, 45, 45, 0.986);
      }
    title Embassy of Denmark
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
      .container
        a.navbar-brand(href='#') Embassy of Denmark
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link.my-2(href='#')
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link.my-2(href='#') About
            li.nav-item
                button.btn.btn-success.my-2.mx-2(type="button" data-toggle="modal" data-target="#createAccount") Create Account
            li.nav-item
              button.btn.btn-outline-primary.my-2.mx-2(type="button" data-toggle="modal" data-target="#signin") &nbsp &nbsp &nbsp Sign in &nbsp &nbsp &nbsp
    header
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
          li(data-target='#carouselExampleIndicators', data-slide-to='1')
          li(data-target='#carouselExampleIndicators', data-slide-to='2')
        .carousel-inner(role='listbox')
          // Slide One - Set the background image for this slide in the line below
          .carousel-item.active(style="background-image: url('/img/rawpixel-626044-unsplash.jpg')")
            .carousel-caption.d-none.d-md-block
              h2.display-4 First Slide
              p.lead This is a description for the first slide.
          // Slide Two - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('/img/rawpixel-567016-unsplash.jpg')")
            .carousel-caption.d-none.d-md-block
              h2.display-4 Second Slide
              p.lead This is a description for the second slide.
          // Slide Three - Set the background image for this slide in the line below
          .carousel-item(style="background-image: url('/img/rawpixel-594848-unsplash.jpg')")
            .carousel-caption.d-none.d-md-block
              h2.display-4 Third Slide
              p.lead This is a description for the third slide.
        a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
    // Page Content
    section.py-5
      .container.text-center
        h1.display-4 Embassy of Denmark
        p.lead A clod based online embassy management system
    .modal.fade(id='createAccount' tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            img.header-img(src="/img/logo.png")
            h5#exampleModalLabel.modal-title.m-3 Create Your Embassy Account
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form(action="/create-profile" method="POST")
              .form-group
                //- label(for="fullName") Full name
                //- label.star *
                input(required class="form-control" placeholder="Full name : " id="fullName" type="text" name="fullName" data-toggle="tooltip")
              .form-group
                //- label(for="email") Email
                //- label.star *
                input(required class="form-control" placeholder="Email : " id="email" type="text" name="email" data-toggle="tooltip" )
              .form-group
                //- label(for="password") Password
                //- label.star *
                input(required class="form-control" placeholder="Password : " id="password" type="password" name="password")
              .form-group
                //- label(for="confirmPassword") Confirm Password
                //- label.star *
                input(required class="form-control" placeholder="Confirm Password : " id="confirmPassword" type="password" name="confirmPassword")
              .text-center
                button(class="btn btn-primary my-4" type="submit") Create Account
    .modal.fade(id='signin' tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            img.header-img(src="/img/logo.png")
            h5#exampleModalLabel.modal-title.m-3 Sign in to your account
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form(action="/login" method="POST")
              .form-group
                label(for="email") Email
                label.star *
                input(required class="form-control" placeholder="Email : " id="login-email" type="text" name="email" )
              .form-group
                label(for="password") Password
                label.star *
                input(required class="form-control" placeholder="Password : " id="login-password" type="password" name="password")
              .text-center
                button(class="btn btn-primary my-4" type="submit") Sign in
    
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
