html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    block styles
  body
    .root
      include ./includes/_header

      block main

      .main-footer.text-muted
        footer Copyright &copy; 2018 Embassy of Denmark. All rights reserved.
    script(src="/js/jquery.min.js")
    //- script(src="/js/popper.min.js")
    script(src="/js/bootstrap.min.js")
    script.
      var signUpTabbedPane = document.querySelector(".tabbed-pane .sign-up");
      var signInTabbedPane = document.querySelector(".tabbed-pane .sign-in");

      if (signInTabbedPane) {
        signInTabbedPane.addEventListener("click", function(e) {
          location.assign("/login");
        });
      }

      if (signUpTabbedPane) {
        signUpTabbedPane.addEventListener("click", function(e) {
          location.assign("/");
        });
      }
      $().dropdown();

      // bootstrap code for handling showing of file name
      $("input[type=file]").change(function() {
        var fieldVal = $(this).val();

        // Change the node's value by removing the fake path (Chrome)
        fieldVal = fieldVal.replace("C:\\fakepath\\", "");

        if (fieldVal != undefined || fieldVal != "") {
          $(this)
            .next(".custom-file-label")
            .attr("data-content", fieldVal)
            .text(fieldVal);
        }
      });
    script.
      //- if(location.pathname === "/") {
      //-   $("#home").addClass("active");
      //-   $("#applications").removeClass("active");
      //-   $("#dashboard").removeClass("active");
      //- }

      //- if(location.pathname === "/profile" || location.pathname === "/account") {
      //-   $("#dashboard").addClass("active");
      //-   $("#applications").removeClass("active");
      //-   $("#home").removeClass("active");
      //- }

      //- if(location.pathname.includes("forms")) {
      //-   $("#applications").addClass("active");
      //-   $("#home").removeClass("active");
      //-   $("#dashboard").removeClass("active");
      //- }
      //- if(location.pathname.includes("edit")) {
      //-   $("#applications").addClass("active");
      //-   $("#home").removeClass("active");
      //-   $("#dashboard").removeClass("active");
      //- }
      
  block scripts