extends ./layout.pug

block main
  .main-content.login
    .login-form
      form(action="/login" method="POST")
        .tabs
          .tabbed-pane
            .sign-up sign up
          .tabbed-pane
            .sign-in.active sign in
        .form-section
          .form-header.display-4.mb-4 Sign in to your account
          .top-form-group
            .form-group
              label(for="email") Email
              label.star *
              input.form-control.form-control-sm(required type="email" placeholder="Email Address*" id="email" name="email")
            .form-group
              label(for="password") Password
              label.star *
              input.form-control.form-control-sm(required type="password" placeholder="Password*" id="password" name="password")
          .submit-button.text-center
            button.btn.btn-primary(type="submit") Sign in