extends ./layout.pug

block main
  .container.main-content.register
    .register-form
      form(action="/register" method="POST")
        .tabs
          .tabbed-pane
            .sign-up.active sign up
          .tabbed-pane
            .sign-in sign in
        .form-section
          .form-header.display-4.mb-4 Create your embassy account
          .row
            .col-sm-12.form-group
              label(for="email") Email
              label.star *
              input.form-control.form-control-sm(required type="email" placeholder="Email Address*" id="email" name="email")
            //-.top-form-group 
          .row
            .col-sm-12.col-lg-5.form-group
              label(for="password") Password
              label.star *
              input.form-control.form-control-sm(required type="password" placeholder="Password*" id="password" name="password")
            .col-sm-12.col-lg-5.form-group
              label(for="confirmPassword") Confirm Password
              label.star *
              input.form-control.form-control-sm(required type="password" placeholder="Confirm password*" id="confirmPassword" name="confirmPassword")
          .submit-button.text-center
            button.btn.btn-primary(type="submit") Sign up
