extends ./_user_dashboard_layout

block pre_bootstrap
  link(href='/css/mdb.min.css', rel='stylesheet')

block styles
  link(rel="stylesheet", href="/css/formstyle.css")

block main
  .content
    .container
      .row
        .col-md-12.col-md-offset-3
          form#msform(method='POST' enctype='multipart/form-data')
            // progressbar
            ul#progressbar
              li.active(style='color: #000000 !important;') Identity and Contact Information
              li(style='color: #000000 !important;') Passport and Work Information
              li(style='color: #000000 !important;') Travel Details and Passport Information
              li(style='color: #000000 !important;') References' Information
            // fieldsets
            fieldset
              h2.fs-title Identity and Contact Information
              h3.fs-subtitle Help us identify you and be able to contact you
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm(type="text" id="surname" placeholder="Surname" name="surname")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm(type="text" placeholder="First name" id="firstName" name="firstName")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm(type="text" placeholder="Previous name, if changed" id="previousName" name="previousName")
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="date" id="dateOfBirth" name="dateOfBirth")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm(type="text" id="placeOfBirth" placeholder="City of Birth" name="placeOfBirth")
                .col-sm-12.col-lg-4.form-group
                  select.form-control.form-control-sm(placeholder="Nationality" id="nationality" name="nationality")
                    option(value="") --Select Nationality--
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Email" id="email" name="email")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Telephone Number" id="telephoneNumber" name="telephoneNumber")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Residential Address" id="residentialAddress" name="residentialAddress")
              input.next.action-button(type='button', name='next', value='Next')
            fieldset
              h2.fs-title Passport and Work Information
              h3.fs-subtitle Tell us how we can contact you
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Passport Number" id="passportNumber" name="passportNumber")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="date" placeholder="Date of Issue" id="passportDateOfIssue" name="passportDateOfIssue")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="date" placeholder="Expiry Date" id="passportDateOfExpiry" name="passportDateOfExpiry")
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Place of Issue" id="passportPlaceOfIssue" name="passportPlaceOfIssue")
                .col-sm-12.col-lg-4.form-group
                  select.form-control.form-control-sm( name="formerNationality" id="formerNationality")
                    option(value="") --Former nationality, if applicable--
                .col-sm-12.col-lg-4.form-group
                  select.form-control.form-control-sm( name="currentCountryOfResidence" id="currentCountryOfResidence")
                    option(value="") --Current country of residence--
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Profession" id="profession" name="profession")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Work Place Address" id="workPlaceAddress" name="workPlaceAddress")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Work Place Telephone" id="workPlaceTelephoneNumber" name="workPlaceTelephoneNumber")
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='button', name='next', value='Next')
            fieldset
              h2.fs-title Travel Details and Passport Information
              h3.fs-subtitle Please help us with some citizenship information
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="date" placeholder="Intended Date of Travel" id="intendedDateOfTravel" name="intendedDateOfTravel")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Duration of Stay in Ghana" id="durationOfStayInGhana" name="durationOfStayInGhana")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="date" placeholder="Date of Last Visit to Ghana" id="dateOfLastVisitToGhana" name="dateOfLastVisitToGhana")
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Purpose of Journey" id="purposeOfJourney" name="purposeOfJourney")
                .col-sm-12.col-lg-4.form-group
                  select.form-control.form-control-sm( type="text" placeholder="Means of Travel" id="meansOfTravel" name="meansOfTravel")
                    option(value="") --Select means of travel--
                    option(value="Air") Air
                    option(value="Sea") Sea
                    option(value="Land") Land
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Financial Means" id="financialMeansOfApplicant" name="financialMeansOfApplicant")
              .row
                .col-sm-12.col-lg-4.form-group
                  select#nationality.form-control.form-control-sm( name="visaType")
                    option(value="") --Select Visa type--
                    option(value="Single Entry") Single Entry Visa
                    option(value="Multiple Entry") Multiple Entry Visa
                .col-sm-12.col-lg-8.form-group.btn-group.btn-group-toggle(data-toggle='buttons')
                  label.btn.btn-secondary.active
                    input#yes(type='radio', name='posessionOfReturnTicket', value="Yes" autocomplete='off', checked='')
                    |  I have a return ticket
                  label.btn.btn-secondary
                    input#no(type='radio', name='posessionOfReturnTicket', value="No" autocomplete='off')
                    |  I have no return ticket
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="If yes, provide ticket Number" id="ticketNumber" name="ticketNumber")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Who are you accompanied by?" id="accompaniedBy" name="accompaniedBy")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="date" placeholder="His/Her Date of Birth" id="accompaniedByDateOfBirth" name="accompaniedByDateOfBirth")
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.next.action-button(type='button', name='next', value='Next')

            fieldset
              h2.fs-title References' information
              h3.fs-subtitle Tell us about your references
              p First Reference
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Full name" name="guarantorsName1" id="guarantorsName1")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Residential address" name="guarantorsAddress1" id="guarantorsAddress1")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Telephone number" name="guarantorsTelephoneNumber1" id="guarantorsTelephoneNumber1")
              p Second Reference
              .row
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Full name" name="guarantorsName2" id="guarantorsName2")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Residential address" name="guarantorsAddress2" id="guarantorsAddress2")
                .col-sm-12.col-lg-4.form-group
                  input.form-control.form-control-sm( type="text" placeholder="Telephone number" name="guarantorsTelephoneNumber2" id="guarantorsTelephoneNumber2")
              input.previous.action-button-previous(type='button', name='previous', value='Previous')
              input.action-button(type='submit', name='next', value='Submit')

block scripts
  script(src="/js/countries.js")
  script.
    var countryOfBirth = document.querySelector("#countryOfBirth");
    var countryOfResidence = document.querySelector("#countryOfResidence");
    var fathersNationality = document.querySelector("#fathersNationality");
    var mothersNationality = document.querySelector("#mothersNationality");
    var nationality = document.querySelector("#nationality");

    if (countryOfBirth) {
      countries.forEach(function(country) {
        appendOptions(countryOfBirth, country.name);
        appendOptions(countryOfResidence, country.name);
        appendOptions(mothersNationality, country.name);
        appendOptions(fathersNationality, country.name);
        appendOptions(nationality, country.name);
      });
    }

    function appendOptions(parent, value) {
      var option = document.createElement("option");
      option.innerHTML = value;
      parent.appendChild(option);
    }

    $("#newPassport").change( () => {
      $("#previousPassportNumber").attr("disabled",true);
    });

    $("#attached").change(() => {
      $("#previousPassportNumber").attr("disabled",false);
    });

    
    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
      if(animating) return false;
      animating = true;
      
      current_fs = $(this).parent();
      next_fs = $(this).parent().next();
      
      //activate next step on progressbar using the index of next_fs
      $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
      
      //show the next fieldset
      next_fs.show(); 
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
          //as the opacity of current_fs reduces to 0 - stored in "now"
          //1. scale current_fs down to 80%
          scale = 1 - (1 - now) * 0.2;
          //2. bring next_fs from the right(50%)
          left = (now * 50)+"%";
          //3. increase opacity of next_fs to 1 as it moves in
          opacity = 1 - now;
          current_fs.css({
            'transform': 'scale('+scale+')',
            'position': 'absolute'
          });
          next_fs.css({'left': left, 'opacity': opacity});
        }, 
        duration: 800, 
        complete: function(){
          current_fs.hide();
          animating = false;
        }, 
        //this comes from the custom easing plugin
        //- easing: 'easeInOutBack'
      });
    });

    $(".previous").click(function(){
      if(animating) return false;
      animating = true;
      
      current_fs = $(this).parent();
      previous_fs = $(this).parent().prev();
      
      //de-activate current step on progressbar
      $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
      
      //show the previous fieldset
      previous_fs.show(); 
      //hide the current fieldset with style
      current_fs.animate({opacity: 0}, {
        step: function(now, mx) {
          //as the opacity of current_fs reduces to 0 - stored in "now"
          //1. scale previous_fs from 80% to 100%
          scale = 0.8 + (1 - now) * 0.2;
          //2. take current_fs to the right(50%) - from 0%
          left = ((1-now) * 50)+"%";
          //3. increase opacity of previous_fs to 1 as it moves in
          opacity = 1 - now;
          current_fs.css({'left': left});
          previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
        }, 
        duration: 800, 
        complete: function(){
          current_fs.hide();
          animating = false;
        }, 
        //this comes from the custom easing plugin
        //- easing: 'easeInOutBack'
      });
    });

    $(".submit").click(function(){
      return false;
    })

              
              

